@page "/admin"
@using System.Security.Claims
@using BlazorBootstrap;
@inject FileAccessService FileAccessService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManagementService UserManagementService
@rendermode InteractiveServer
@attribute [Authorize]


<h2>Admin</h2>



<hr />

<div class="row">
    <div class="col-4">
        <Button Color="ButtonColor.Secondary" @onclick="OnShowModalClick"><span class="bi-people-fill" /> Nutzerverwaltung </Button>
        <Button Color="ButtonColor.Secondary" @onclick="OnShowModalClickRoles"><span class="bi-person-fill-gear" /> Rollenverwaltung</Button>
    </div>
</div>
<hr />

<Modal @ref="modal" Title="Nutzerverwaltung">
    <BodyTemplate>
        <Register />
    </BodyTemplate>
</Modal>

<Modal @ref="modalRoles" Title="Rollenverwaltung">
    <BodyTemplate>
        <RoleManager />
    </BodyTemplate>
</Modal>

<h3>Nutzerliste</h3>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Benutzer-ID</th>
            <th>Benutzername</th>
            <th>E-Mail</th>
            <th>Rollen</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        @if (users != null)
        {
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <select class="form-select" @onchange="async (e) => await ChangeUserRole(user, e.Value?.ToString())">
                            @foreach (var role in roles)
                            {
                                @if (role.Name == user.Role)
                                {
                                    <option value="@role.Name" selected>@role.Name</option>
                                }
                                else
                                {
                                    <option value="@role.Name">@role.Name</option>
                                }
                            }
                        </select>
                    </td>


                    <td>
                        <Button Class="btn btn-danger" @onclick="() => DeleteUser(user)">Löschen</Button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Zugriffsregeln</h3>

<div class="row" style="gap:50px;">
    <input style="width:80%;" @bind="fileName" class="form-control" />
    <button style="width:15%;" class="btn btn-primary" @onclick="AddRule">Neue Regel</button>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Dateiname</th>
            <th>Benutzer-ID</th>
            <th>Berechtigung</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rule in accessRules)
        {
            <tr>
                <td>@rule.FilePath</td>
                <td>@rule.UserId</td>
                <td>@rule.Permission</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteRule(rule)">Löschen</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {

    private Modal modal = default!;
    private Modal modalRoles = default!;

    private async Task OnShowModalClick()
    {
        if (modal != null)
        {
            await modal.ShowAsync();
        }
    }
    private async Task OnHideModalClick()
    {
        if (modal != null)
        {
            await modal.HideAsync();
        }
    }

    public async Task OnShowModalClickRoles()
    {
        if (modalRoles != null)
        {
            await modalRoles.ShowAsync();
        }  
    }

    public async Task OnHideModalClickRoles()
    {
        if (modalRoles != null)
        {
            await modalRoles.HideAsync();
        }
    }

    string fileName = "";
    //List<string> availableRoles = new();
    List<FileAccessRule> accessRules = new();
    List<UserDto> users = new();
    List<RoleDto> roles = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadAccessRules();
        await LoadUsers();
        await LoadRoles();
    }
    private async Task LoadAccessRules()
    {
        accessRules = await FileAccessService.GetAccessRulesFromDb();
    }
    private async Task LoadUsers()
    {
        users = await UserManagementService.GetUsers();
    }
    private async Task LoadRoles()
    {
        roles = await UserManagementService.GetRoles();
    }


    private async Task AddRule()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User.Identity;
        var userId = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        if (user != null && user.IsAuthenticated)
        {
            await FileAccessService.AddAccessRule(fileName,userId,"All");
        }
        await LoadAccessRules();
    }

    private async Task DeleteRule(FileAccessRule rule)
    {
        await FileAccessService.DeleteAccessRule(rule);
        await LoadAccessRules();
    }

private async Task ChangeUserRole(UserDto user, string newRole)
{
    Console.WriteLine($"Ändere Rolle für Benutzer: {user.UserName} zu {newRole}");
    
    var updateModel = new UpdateRoleModel
    {
        UserId = user.Id,
        NewRole = newRole
    };

    var result = await UserManagementService.UpdateUserRoleAsync(updateModel);
    if (result)
    {
        await LoadUsers();
    }
    else
    {
        Console.WriteLine("Fehler beim Ändern der Rolle");
    }
}



    private async Task DeleteUser(UserDto user)
    {
        await UserManagementService.DeleteUserAsync(user.Id);
        await LoadUsers();
    }

}


